{{##def.page_title = '통계 및 정산' #}}

{{##def.content:
<script>
	$( document ).ready(function() {
		$('#bydate1').datepicker();
		$('#bydate2').datepicker();
		ptBySearch();
	});
	function ptBySearch() { 
		var date = document.getElementById('bydate').value;
		var partner_code =  document.getElementById('partner_code').value;
		document.getElementById('index').value = date;
		$.ajax({
			url: "./date_search",
			type: "POST",
			data: {date : date,
				   partner_code : partner_code},
			success: function(data) {
				$("#result").html(data);
			}
		});
	} 
	function infoFormat() {
		if (!confirm('당일 매출정보가 모두 초기화됩니다.\n 정말 초기화하시겠습니까?')) return;
		var date = document.getElementById('bydate').value;
		$.ajax({
			url: "./moneyinfo_format",
			type: "POST",
			data: {date : date},
			success: function(data) {
				alert('초기화완료');
				ptBySearch();

			}
		});
	}
	function viewDetail() {
		var date = document.getElementById('index').value;
		location.href = '/admin-todayViewDetail?date=' + date;
	}
</script>
<div class="content row panel radius">
	<h5>통계 및 정산</h5> 
	<hr>
	<div style="margin-top:20px;"></div>
	<div style="display:none;">
		<label for="idLabAccount">계좌 정보</label>
		<input type="text" value="undefined" readonly="">
	</div>
	<div style="margin-top:30px;"></div>
	<div style="float: left; width: calc(100% - 10px);">
		<label for="idLabAccount" class="left" style="margin-bottom:6px; width:calc((100% - 20px) / 10); margin-right:5px; padding:3px; text-align:center; font-weight:bold;">기간</label>
		<input id="bydate1" name="bydate1" class="left" style="width:calc((100% - 30px) /10); height:37px; padding:3px; margin-right:10px;" type="text" value="{{=it.user.date}}">
		<label for="idLabAccount" class="left" style="margin-bottom:6px; width:calc((100% - 20px) / 15); margin-right:5px; padding:3px; text-align:center; font-weight:bold;"> ~ </label>
		<input id="bydate2" name="bydate2" class="left" style="width:calc((100% - 30px) /10); height:37px; padding:3px; margin-right:10px;" type="text" value="{{=it.user.date}}">
		<input type="submit" class="light-button left moneyFontSize" style="margin-bottom:6px; width:calc((100% - 20px) / 8); height:37px;" value="정산" onclick="settlement();">
		<input type="hidden" name="index" id="index" value ="0"/>
	</div>
	<div style="clear:both;"></div>
	<div style="margin-top:10px;"></div>
	 <h5>정산 내역</h5>
	 <hr>
	 <div id="result"> </div>
	<div id="controlButton" style="width: 100%; height: 30px; text-align: center;">
		<input id="viewDetail" class="button secondary" style="width: 15%; height:30px; padding: 3px; white-space: normal; margin-right: 20px;" type="button" value="상세보기" onclick="viewDetail();">
		<input id="idChargeMoney" class="button secondary" style="width: 15%; height: 30px; padding: 3px; white-space: normal;" type="button" value="초기화" onclick="infoFormat();">
	</div>
#}}
<!--modify by lt-->
{{#def.include('./template/main_new')}}
