{{##def.page_title = '소셜 그래프 게임' #}}

{{##def.content:
    <div class="index">

        <div class="grid">
            <div class="col-1-1">
                <h1 class="title">The Social Gambling Game</h1>
            </div>

            <div class="play-btn-col col-1-1">
                <div class="play-btn-cont">
                    <a href="/play" class="play">
                        게임 시작
                    </a>
					<!--modify by lt
                    <a href="/play-old" class="play-old">
                        Play with the old theme!
                    </a>-->
                </div>
            </div>
        </div>

        <div class="features grid">

            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/dart.png" alt=""/>
                </div>
                <h4>99% 행운<br />&nbsp;1% 기술</h4>
                <p class="text">
                    실시간 소셜 그래프 게임 <br>
                    <!--modify by lt
					<a href="/guide">See strategy guide</a>-->
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/chart.png" alt=""/>
                </div>
                <h4>실시간</h4>
                <p class="text">
                    모든게임은 모든유저<br > 실시간으로 진행됩니다.
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/secure.png" alt=""/>
                </div>
                <h4>보안</h4>
                <p class="text">
					사용자의 정보는<br>
                    안전하게 저장됩니다<br>
                    정보를 판매하지 않습니다.
					<!--modify by lt
                    Offline storage<br>
                    <a href="faq#fair">Provably fair</a><br>
                    Razor thin <a href="faq#odds">house edge</a> (between 0 and 1%)-->
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/multiplayer.png" alt=""/>
                </div>
                <h4>소셜</h4>
                <p class="text">
                    친구와 함께<br>
                    휴식시간 간단한 게임을<br>
					모두 즐길수 있습니다.
                </p>
            </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <h5 class="faucet">과도한 배팅이아닌 적당한 코인으로 친구와함께 재미있게 즐길수 있습니다.</h5>
            </div>
        </div>

    </div>
#}}
{{#def.include('./template/main_new')}}

