<head>
    <title>{{# def.page_title || 'Social Bitcoin Gambling' }} -- MaxLine.com</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
   <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/jquery.message.min.css">
	<link rel="stylesheet" href="/css/toast.style.min.css">-->
    <link rel="stylesheet" href="/css/jquery.toast.css">
    <script src="/css/jquery-3.2.1.min.js"></script>
	<script src="/css/jquery-ui.js"></script>
	<!--<script src="/css/toast.script.js"></script>-->
    <script src="/css/jquery.toast.js"></script>
	<!--<script src="/css/notify.js"></script>-->
	<!--<script src="/css/jquery.message.min.js"></script>-->
    <!--<script src="/css/bootstrap.min.js"></script>
    <script src="/css/jquery.toaster.js"></script>-->
	<!--<script src="/css/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="/css/jquery-ui-1.11.2.custom/jquery-ui.css"></script>-->
    {{?it.table}}
        <link rel="stylesheet" href="/css/{{? it.buildConfig }}{{=it.buildConfig['game-new.css']}}{{??}}game.css{{?}}" />
    {{??}}
        <link rel="stylesheet" href="{{? it.buildConfig }} /css/{{=it.buildConfig['app-new.css']}} {{??}} /css/app.css {{?}}" />
    {{?}}
</head>
<script>
	/*$( document ).ready(function() {
		if (location.href.indexOf('/memo-list') == -1 && location.href.indexOf('/memo-read') == -1) { 
			if (mustMemoCount > 0) { 
				location.href = '/memo-list'; 
				alert('필독 쪽지가 도착하였습니다.'); 
			}
		} 
	});*/
	

	function SetCookie(cName, cValue, cDay) { 
		var expire = new Date(); 
		expire.setDate(expire.getDate() + cDay); 
		cookies = cName + '=' + escape(cValue) + '; path=/ '; 
		if (typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';'; 
		document.cookie = cookies; 
	}
	function GetCookie(cName) { 
		cName = cName + '='; 
		var cookieData = document.cookie; 
		var start = cookieData.indexOf(cName); 
		var cValue = ''; 
		if (start != -1) { 
			start += cName.length; 
			var end = cookieData.indexOf(';', start);
			if (end == -1) end = cookieData.length; 
			cValue = cookieData.substring(start, end); 
		} 
		return unescape(cValue); 
	} 
	function GetPageValue(total, page, currentURL, uid) {
		var pageIndex = Number(page);  
		var pageSize = Number('10'); 
		var totalCount = 1;
		totalCount = total;
		var pageCount = parseInt(totalCount / pageSize); 
		if (pageCount <= 0) pageCount = 0; 
		if (totalCount % pageSize > 0) pageCount++; 
		var maxPageTab = 5;  
		if (pageCount < maxPageTab) maxPageTab = pageCount; 
		if (pageIndex == 1){  
			SetCookie('pageTabBegin', 0); 
			SetCookie('pageTabEnd', maxPageTab); 
		} 
		var sLoopIndex = Number(GetCookie('pageTabBegin'));
		var eLoopIndex = Number(GetCookie('pageTabEnd'));
		if (pageIndex > eLoopIndex){
			SetCookie('pageTabBegin', (pageIndex) - maxPageTab); 
			SetCookie('pageTabEnd', (pageIndex)); 
			sLoopIndex = Number(GetCookie('pageTabBegin'));
			eLoopIndex = Number(GetCookie('pageTabEnd')); 
		} 
		if (pageIndex - 1 < sLoopIndex){ 
			SetCookie('pageTabBegin', (pageIndex - 1)); 
			SetCookie('pageTabEnd', (pageIndex - 1) + maxPageTab); 
			sLoopIndex = Number(GetCookie('pageTabBegin')); 
			eLoopIndex = Number(GetCookie('pageTabEnd')); 
		}
		AddPage(pageIndex, pageCount, sLoopIndex, eLoopIndex,currentURL, uid);
	}
	function AddPage(pageIndex, pageCount, sLoopIndex, eLoopIndex, currentURL, uid) { 
		var prevIndex = Number(pageIndex) - 1;
		if (prevIndex < 1) prevIndex = 1; 
		var nextIndex = Number(pageIndex) + 1; 
		if (nextIndex > pageCount) nextIndex = pageCount; 
		var html = ''; 
		html += '<div style="display:inline-block;">'; 
		html += '<div class="pageButton">'; 
		if(uid)
			html += '<a href="/' + currentURL + '&page=' + prevIndex + '">이전</a>'; 
		else 
			html += '<a href="/' + currentURL + '?page=' + prevIndex + '">이전</a>'; 
		html += '</div>'; 
		for (var i = sLoopIndex; i < eLoopIndex; i++) {
			var temp; 
			if (i + 1 == Number(pageIndex)) {
				temp = '<span class="selectPageColor">' + (i + 1) + '</span>'; 
			}
			else { 
				temp = (i + 1); 
			}
			html += '<div class="pageButton">'; 
			if(uid){ html += '<a href="/' + currentURL + '&page=' + (i + 1) + '">' + temp + '</a>'; html += '</div>';}
			else   { html += '<a href="/' + currentURL + '?page=' + (i + 1) + '">' + temp + '</a>'; html += '</div>';}
		} 
		html += '<div class="pageButton">'; 
		if(uid) html += '<a href="/' + currentURL + '&page=' + nextIndex + '">다음</a>';  
		else html += '<a href="/' + currentURL + '?page=' + nextIndex + '">다음</a>'; 
		html += '</div>';
		html += '</div>';
		document.getElementById('idDivPage').innerHTML = html; 
	}
</script>