#top-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-family: "Verlag A", "Verlag B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#top-bar .title {
    float: left;
	/*add by lt*/
	margin-right:30px;
}

#top-bar .title h1 {
	
    color: #e58929;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    font-family: "Courier New";
		
}

#top-bar .user-login {
    float: right;
    line-height: 40px;
	/*add by lt*/
	font-weight:700;
}


/** Toggle design **/

#top-bar .toggle-view {
    line-height: 2rem;
    float: right;
    margin-right: 2rem;
    cursor: pointer;
}


.font_tiny {font-size:9px; line-height:15px;}
.dot_memo {
	display:inline-block;
	margin:0 auto;
    min-width:16px;
    height:16px;
    overflow:hidden;
    border:#000 0px solid;
	border-radius:25px;
	background-color:#CD4663;
	color:#FFFFFF;
	padding:0 6px;
	z-index:10;
}
.unread_dot	{display:none;}
.unread_dot1	{display:none;}
.unread_dot2	{display:none;}
.unread_dot3	{display:none;}
.unread_dot4	{display:none;}

.bold	{font-weight:500 !important;}	/* golbal bold ¿Á¡§¿« */
@media handheld, only screen and (max-width: 767px) {
    #top-bar .toggle-view {
        margin-right: 0.5rem;
    }
}

#top-bar .toggle-view a {
    border: 2px solid grey;
    padding: 2px;
}
@media handheld, only screen and (max-width: 767px) {
    
    #top-bar .toggle-view a {
        display: none;
    }

    #top-bar .toggle-view:after {
        content: '\00a0';
        line-height: 2rem;
        width: 1rem;
        padding: 0 0.5rem;
        height: 1rem;
        border: 2px solid grey;
        cursor: pointer;
	}

    #top-bar .toggle-view.white:after {
        background-color: white;
    }
    
    #top-bar .toggle-view.black:after {
        background-color: black;
    }
}
@media handheld, only screen and (max-width: 767px){
	#top-bar .menu, #top-bar .menu-mobile {
		float: left;
		margin-top: 3px;
		text-align: center;
	}	
}


/** Full Screen **/

#top-bar .full-screen {
	float: right;
    line-height: 2rem;
    padding-right: 1rem;
}

#top-bar .full-screen i{
	border: 2px solid grey;
    padding: 4px;
    cursor: pointer;
}


/** User logged **/

#top-bar .user-login .balance-bits {
    display: inline-block;
    padding-right: 0.5rem;
}

#top-bar .user-login .balance-bits span{
    line-height: 2rem;
    color: black;
}

#top-bar .user-login .username {
    display: inline-block;
    padding-right: 2rem;
}
/*add by lt */
#top-bar .user-login .logout {
    display: inline-block;
    padding-right: 2rem;
}
@media handheld, only screen and (max-width: 767px) {
    #top-bar .user-login .username {
        padding-right: 0.5rem;
    }
	#top-bar .user-login .logout {
        padding-right: 0.5rem;
    }
	#top-bar .user-login  a{
		line-height:2rem;
		font-weight:700;
		font-size:14px;
	}
	#top-bar .user-login  .username span{
		line-height:2rem;
		font-weight:700;
		font-size:14px;
	}
	#top-bar .user-login .balance-bits span{
		line-height:2rem;
		font-weight:700;
		font-size:14px;
	}
}

#top-bar .user-login .username a {
    line-height: 2rem;
    font-weight: bold;
}
#top-bar .user-login .logout a {
    line-height: 2rem;
    font-weight: bold;
}


/** Not logged user **/

#top-bar .user-login .register {
    display: inline-block;

    padding-right: 1rem;
}

#top-bar .user-login .register a {

}

#top-bar .user-login .login {
    display: inline-block;

    padding-right: 2rem;
}

#top-bar .user-login .login a {
    line-height: 2rem;

}